<h1>Edit Movie</h1>
<%= form_with model:@movie, local:true do |f| %>

 <label for="inputName">Name</label>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
  <%= attachment_image_tag @movie, :image, :fill, 60, 60, fallback: "image.jpg"%>
 <label for="inputImage">Image</label>
  <%= f.attachment_field :image, placeholder: "プロフィール画像" %>

   <div id="review_stars">
    <label>評価</label>
  </div>
  <div class="actions">
    <h4>感想</h4>
  <td><%= f.text_area :body %></td>
    <td><%= f.submit '更新'  %></td>
  </div>
 
<% end %>

<script>
  $('#review_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    half: true,
    scoreName: 'movie[review]' //登録するモデル名とカラム名を記述
  });
</script>
