<table>
  <thead>
    <tr>
      <th></th>
       <th>ユーザー</th>
      <th>映画タイトル</th>
      <th>映画画像</th>
      <th>評価</th>
      <th>感想</th>
    </tr>
  </thead>
  <tbody>
<% @movies.each do |movie| %>
    <tr>
      <td><%= attachment_image_tag movie.customer, :profile_image,  format: 'jpeg', fallback: "image.jpg", size: "100x100" %></td>
        <td><%= link_to movie.customer.name, customer_path(movie.customer_id) %></td>
        <td><%= movie.name %></td>
        <td><%= attachment_image_tag movie, :image, size: "50x50" %></td>
        <td class="movie-review" data-score="<%= movie.review %>"></td>
        <td><%= movie.body %></td>

        <% if movie.customer_id != current_customer.id %>
        <% if movie.bookmarked_by?(current_customer) %>
        <td><%= link_to "ブックマークを外す", movie_bookmarks_path(movie.id), method: :delete %></td>
        <% else %>
        <td><%= link_to "ブックマーク", movie_bookmarks_path(movie.id), method: :movie %></td>
        <% end %>
        <% end %>
    </tr>
<% end %>

    <%= link_to "新規投稿", new_movie_path %>
  </tbody>
</table>

<script>
  $('.movie-review').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    half: true
  });
</script>



