  <h2>User Page</h2>

<table class="table">
  <tbody>
  <tr>
    <% if @customer.id == current_customer.id %>
    <p><%= link_to "プロフィール編集", edit_customer_path(@customer) %></p>
  <% end %>
	  <%= attachment_image_tag @customer, :profile_image,  format: 'jpeg', fallback: "image.jpg", size: "100x100" %>
	  <th><%= @customer.name %></th>
  </tr>
</table>

<table>
  <thead>
    <tr>
       <th>ユーザー</th>
      <th>映画タイトル</th>
      <th>映画画像</th>
      <th>評価</th>
      <th>感想</th>
    </tr>
  </thead>
  <tbody>
<% @movies.each do |movie| %>
    <tr>
        <td><%= link_to movie.customer.name, customer_path(movie.customer_id) %></td>
        <td><%= movie.name %></td>
        <td><%= attachment_image_tag movie, :image, size: "50x50" %></td>
        <td class="movie-review" data-score="<%= movie.review %>"></td>
        <td><%= movie.body %> 
        <%= link_to "編集する",edit_movie_path(movie.id),class: "btn btn-sm btn-success" %>　
        <%= link_to "削除", movie_path(movie.id), method: :delete, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $('.movie-review').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/',
    half: true
  });
</script>